$modal: '.modal';

#{$modal} {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba($color-shocking-pink, .1);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9999;

    &_state_open {
        display: block;
    }

    &__table {
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
    }

    &__cell {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__content {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
    }

    &__footer {
        position: relative;
        display: block;
    }
}
