include ../login/login

mixin modal
    +b('section').modal(id="login")
        +e('div').table
            +e('div').cell
                +e('div').content
                    +login

                +e('div').footer
                    +e('a').link(href="#", class="button modal_close")!= "Закрыть"
