*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    min-width: $minWidth;
}

body {
    width: 100%;
    background: $color-white;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    text-decoration: none;
    line-height: normal;
    outline: none;
    user-select: none;
}
