$login: '.login';

#{$login} {
    position: relative;
    display: block;
    max-width: 600px;
    padding: 15px;
    text-align: center;
    background-color: $color-white;

    h3 {
        margin-bottom: 1.3em;
    }
}
