$main: '.main';

#{$main} {
    position: relative;
    display: block;
    width: calc(100% - 300px);
    float: left;
    padding: 15px;
    @include transition(width 250ms ease-out);

    @include respond-to('medium') {
        width: 100%;
        @include transition(width 250ms ease-out 250ms);
    }

    p {
        @include f-last(1) {
            margin-bottom: 0;
        }
    }
}

.globalWrapper_aside_hidden {
    #{$main} {
        width: 100%;
        @include transition(width 250ms ease-out 250ms);
    }
}
