$main: '.main';

#{$main} {
    position: relative;
    display: block;
    width: calc(100% - 300px);
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;

    p {
        @include f-last(1) {
            margin-bottom: 0;
        }
    }
}
