$footer: '.footer';

#{$footer} {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;

    &__wrapper {
        position: relative;
        display: block;
        max-width: 800px;
        min-width: 500px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $color-dusty-gray;
    }
}
