$globalWrapper: '.globalWrapper';

#{$globalWrapper} {
    position: relative;
    display: block;
    max-width: 800px;
    min-width: 500px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    background-color: $color-white;
    @include clearfix;

    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 300px;
        top: 50px;
        bottom: 50px;
        right: 0;
        border-left: 1px solid $color-silver;
        box-shadow: -10px 0 15px -10px rgba(0, 0, 0, 0.5);
    }
}
