$burger: '.burger';

#{$burger} {
    position: absolute;
    display: none;
    right: -20px;
    top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;

    @include respond-to('increased') {
        display: block;
    }

    &__wrapper {
        position: relative;
        width: 24px;
        height: 24px;
    }

    &__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        top: 50%;
        margin-top: -1px;
        background-color: $color-white;
        cursor: pointer;
        transition: all 200ms;
    }

    &__line:nth-child(1) {
        transform: translateY(-8px);

        #{$burger}.active & {
            transform: translateY(0) rotate(45deg);
        }
    }

    &__line:nth-child(2) {
        #{$burger}.active & {
            transform: scale(0.1, 1);
        }
    }

    &__line:nth-child(3) {
        transform: translateY(8px);

        #{$burger}.active & {
            transform: translateY(0) rotate(-45deg);
        }
    }
}

.header.active,
.mobileNavigationShow {
    #{$burger} {
        &__line {
            background-color: $color-mariner;
        }
    }
}
